:root {
  --theme-color: #fff;
  --primary-color: #bb6015;
  --secundary-color: #332003;
  --text-color: rgb(17, 5, 29);
}
/* reseteo */
body {
  margin: 0;
  background-color: var(--theme-color);
  color: var(--text-color);
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden; /*oculta la barra de desplazamiento cuando el elemento sobrepasa el ancho */
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
ul{
  list-style: none;
}
a{
  font-size: 26px;
  font-weight:bold;
  transition: all .5s ease-in-out;
}
h1 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}
h2 {
  font-size: 15px;
  color: var(--primary-color);
}
h3 {
  font-size: 12px;
}
main {
  margin: 10px;
}
header {
  margin: 30px;
}
.opciones a:hover{
  color:#fff;
  background-color:var(--primary-color);
  border-radius: 5px;
   font-size:30px
}
/*! variables */
.sintaxis {
  text-align: left;
  margin: 0px auto;
  padding: 10px;
  max-width: 780px;
  min-width: 400px;
}
.js {
  background: var(--text-color);
  color: var(--theme-color);
  font-size: 10px;
  border-radius: 10px;
  padding: 5px;
}
code span {
  color: darkorange;
  
}
/* Ancho de dispositivos desde 650px o mas */
@media (min-width: 650px) {
 
  h1 {
    font-size: 50px;
    color: var(--primary-color);
    font-weight: bold;
  }
  h2 {
    font-size: 40px;
    color: var(--primary-color);
  }
  h3 {
    font-size: 30px;
  }

  .js {
    font-size: 16px;
  }
 
}
